################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Ticketing.Api/bin/Debug/net10.0
/.vs
